@charset "utf-8";
/* CSS Document */

body {
	font-family: font-family: Verdana, Roboto, "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
a img:hover {
	opacity: 0.8;
}
#btn_area p {
	float: left;
	margin-bottom: 40px;
}
#btn_area {
	padding: 0 72px;
	margin-top: 70px;
}
@media screen and (max-width: 1379px) {
	#wrap {
		width: 1000px;
		margin: 0 auto;
	}
	#h1_w1000 {
		display: inline;
	}
	#h1_w1380 {
		display: none;
	}
	#btn_area p {
		margin-right: 105px;
	}
	#btn_area p:nth-child(2n) {
		margin-right: 0;
	}
}
@media screen and (min-width: 1380px) {
	#wrap {
		width: 1380px;
		margin: 0 auto;
	}
	#h1_w1000 {
		display: none;
	}
	#h1_w1380 {
		display: inline;
	}
	#btn_area p {
		margin-right: 55px;
	}
	#btn_area p:nth-child(3n) {
		margin-right: 0;
	}
}
footer {
	position: relative;
	border-top: 1px solid #656161;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-top: 65px;
}
footer #logo {
	position: absolute;
	top: 7px;
	right: 20px;
}
#copyright {
	width: 180px;
	margin: 0 auto;
}